{% extends 'base.html' %}

{% load course_filter %}

{% block title %}
    {{ course.title }} | Educa
{% endblock %}

{% block nav %}
    {% include 'partials/base/nav_home.html' %}
{% endblock %}

{% block content %}
    <section>
        <div class="bg-zinc-800 w-full">
            <div class="grid grid-cols-3">
                <div class="col-span-2 p-10 pl-28">
                    {% include 'partials/course/detail/detail_info.html' %}
                </div>
                <div class="relative">
                    {% include 'partials/course/detail/detail_card.html' %}
                </div>
            </div>
        </div>
        <div class="grid grid-cols-3">
            <div class="mx-16 col-span-2">
                <div class="my-7">
                    <h1 class="p-5 text-2xl font-bold">O que você aprenderá</h1>
                    <p class="pl-5 py-5">
                        {{ course.learn_description }}
                    </p>
                </div>
                <div class="my-7 p-5">
                    {% include 'partials/course/detail/accordion_detail.html' %}
                </div>
                <div class="my-7">
                    <h1 class="p-5 text-2xl font-bold">Requisitos</h1>
                    <p class="pl-5 py-5">
                        {{ course.requirements }}
                    </p>
                </div>
                <div class="my-7">
                    <h1 class="p-5 text-2xl font-bold">Descrição</h1>
                    <p class="pl-5 py-5">
                        {{ course.requirements }}
                    </p>
                </div>
                <div id="rating">
                    {% include 'partials/course/detail/rating/rating_feedback.html' %}
                </div>
                <div class="pt-8">
                    <h1 class="text-3xl font-bold pb-10">Avaliações</h1>
                    <div class="flex justify-between">
                        {% include 'partials/course/detail/rating/rating_filter.html' %}
                    </div>
                    <div id="rating-list" class="mx-14">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script>
        let progressbars = document.querySelectorAll('.progress')
        progressbars.forEach(progress => {
            progress.addEventListener('click', () => {
                progress.classList.remove('opacity-25')
                let progress_data = parseInt(progress.getAttribute('data-value'))
                document.querySelector(`#close-${progress_data}`).classList.remove('hidden')
                progressbars.forEach(other_progress => {
                    let other_progress_data = parseInt(other_progress.getAttribute('data-value'))
                    if (other_progress_data !== progress_data) {
                        other_progress.classList.add('opacity-25')
                        document.querySelector(`#close-${other_progress_data}`).classList.add('hidden')
                    }
                })
            })
        })

        let close_buttons = document.querySelectorAll('.close')
        close_buttons.forEach(close => {
            close.addEventListener('click', () => {
                close.classList.add('hidden')
                progressbars.forEach(progress => {
                    progress.classList.remove('opacity-25')
                })
            })
        })

        let course_id = "{{ course.id }}"
        htmx.ajax('GET', `/course/rating/view/${course_id}`, '#rating-list')

        htmx.on('htmx:afterSwap', e => {
            if (e.target.id === "rating-list") {
                if (e.detail.requestConfig.path.includes('page')) {
                    let elem = document.getElementById('see-more')
                    elem.parentNode.removeChild(elem)
                }
            }
        })

        document.querySelector('#select-filter').addEventListener('change', e => {
            document.querySelector('#rating-filter').setAttribute('value', e.target.value)
            let search_value = document.querySelector('#rating-search').value
            if (search_value === "") {
                htmx.ajax('GET', `/course/rating/filter/${course_id}/?filter=${e.target.value}`, '#rating-list')
            } else {
                htmx.ajax('GET', `/course/rating/search/${course_id}/?search=${search_value}&filter=${e.target.value}`, '#rating-list')
            }
        })
    </script>
{% endblock %}