{% extends 'base.html' %}

{% load course %}

{% block title %}
    Curso - {{ course.title }}
{% endblock %}

{% block content %}
    <div class="container pt-4">
        <div class="row">
            <div class="col-8">
                <div>
                    <h3>{{ course.title }}</h3>
                    <p>{{ course.description }}</p>
                    <p>Criado por: {{ course.owner.get_full_name }}</p>
                </div>
                {% for module in course.modules.all %}
                    <div class="dropdown">
                        <div class="d-flex justify-content-between align-items-center border border-dark"
                             data-bs-toggle="dropdown"
                             aria-expanded="false" style="width: 40vw;">
                            <p class="ps-2">{{ module.title }}</p>
                            <p class="pe-2">{{ module.get_total_lessons }} aulas</p>
                        </div>
                        <div class="dropdown-menu  border border-dark" style="width: 40vw;">
                            {% for lesson in module.lessons.all %}
                                <div class="dropdown-item disabled text-dark">{{ lesson.title }}</div>
                            {% empty %}
                                <div class="dropdown-item disabled text-dark">Esse módulo ainda não possui aulas.</div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                {% include 'hx/rating/rating_list.html' %}
            </div>
            <div class="col text-center">
                <div class="card" style="width: 18rem;">
                    <img src="{{ course.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-start">{{ course.title }}</h5>
                        {% if request.user|student_is_enrolled:course.id %}
                            {% with current_lesson=request.user|get_current_lesson:course %}
                                <a href="{% url 'student:view' course.slug current_lesson %}"
                                   class="btn btn-primary mt-3"
                                   style="width: 16rem;">
                                    Acessar
                                </a>
                            {% endwith %}
                        {% else %}
                            <form method="post" action="{% url 'course:enrroll' course.id %}">
                                {% csrf_token %}
                                <button class="btn btn-primary mt-3"
                                        style="width: 16rem;">Inscreva-se
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}