{% extends 'base.html' %}

{% block title %}
    Todos os cursos
{% endblock %}

{% block content %}
    <div class="container">
        {% if not courses %}
            <h2 class="text-center pt-5">Nenhum resultado foi encontrado para sua busca.</h2>
        {% endif %}
        <div class="row row-cols-auto">
            {% for course in courses %}
                <div class="col pb-3">
                    <a href="{% url 'course:detail' course.id %}" class="text-decoration-none">
                        <div class="card pt-3" style="width: 13rem;">
                            <img class="card-img-top" src="{{ course.image.url }}" alt="Post image">
                            <div class="card-body" style="color: black;">
                                <h5 class="card-title">{{ course.title }}</h5>
                                <p class="card-text" style="font-size: 16px;">{{ course.description }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% include 'partials/base/_paginator.html' %}
    </div>
{% endblock %}