{% extends 'base.html' %}

{% load course_filter %}

{% block title %}
    Cursos online - Educa
{% endblock %}

{% block nav %}
    {% include 'partials/base/nav_home.html' %}
{% endblock %}

{% block content %}
    <div>
        {% if not courses %}
            <h2 class="text-3xl pl-14 pt-14 font-bold w-1/2">Infelizmente, não encontramos resultados para
                "{{ search_term }}".</h2>
            <h3 class="text-xl pl-14 pt-7">Recomendamos ajustar a sua busca. Aqui estão algumas ideias:</h3>
            <ul class="list-disc text-lg pl-24 pt-7">
                <li>Verifique se todas as palavras estão escritas corretamente.</li>
                <li>Tente usar termos de pesquisa diferentes.</li>
                <li>Tente usar termos de pesquisa mais genéricos.</li>
            </ul>
        {% else %}
            {% if subject %}
                <h1 class="text-3xl p-8">Cursos de {{ subject.title }}</h1>
            {% endif %}
            {% if search_term %}
                <h1 class="text-3xl p-8">Resultados para "{{ search_term }}"</h1>
            {% endif %}
            {% if not subject and not search_term %}
                <h1 class="text-3xl p-8">Vamos começar a aprender!</h1>
            {% endif %}
        {% endif %}
        <div class="grid grid-cols-4 gap-24 mt-5 mx-44">
            {% for course in courses %}
                {% include 'partials/course/course_card.html' %}
            {% endfor %}
        </div>
        {% include 'partials/base/paginator.html' %}
    </div>
{% endblock %}

