{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}
    Editando curso - {{ object.title }}
{% endblock %}

{% block content %}
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    {% endbuttons %}
                </form>
            </div>
            <div class="col">
                <h3 class="text-center">Ordem dos módulos</h3>
                <form class="sortable" hx-post="{% url 'module:order' %}" hx-trigger="end">
                    {% csrf_token %}
                    {% include 'hx/module_sortable.html' %}
                </form>
                <div class="text-end pt-2">
                    <a href="{% url 'module:create' course.id %}" class="btn btn-primary btn-sm">
                        Criar novo Módulo
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
