{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block nav %}
    {% include 'partials/base/nav_home.html' %}
{% endblock %}

{% block content %}
    <div class="grid grid-cols-2">
        <div class="pt-5">
            <h2 class="text-center text-3xl pb-6">{{ content_title }}</h2>
            <div class="flex flex-col mx-10">
                <form method="post" enctype="multipart/form-data">
                    {% crispy form %}
                </form>
            </div>
        </div>
        <div class="pt-5 text-center">
            <h3 class="text-2xl font-bold">Ordem dos módulos</h3>
            <p class="text-xs py-1">Arraste e solte para organizar os módulos.</p>
            <form class="sortable pt-3 mx-auto w-1/3" hx-post="{% url 'module:order' course.id %}"
                  hx-trigger="end">
                {% csrf_token %}
                {% include 'hx/module/sortable.html' %}
            </form>
            <div class="pt-5">
                <a href="{% url 'module:create' course.id %}"
                   class="bg-violet-700 p-2 text-white rounded-lg hover:text-violet-500">
                    Criar novo Módulo
                </a>
            </div>
            <div class="pt-20 text-center w-1/2 mx-auto">
                <h3 class="text-2xl font-bold pb-5">Adicionar instrutor</h3>
                <form hx-post="{% url 'course:add_instructor' course.id %}" hx-target="#instructor-list"
                      hx-error="#instructor-error">
                    {% crispy instructor_form %}
                </form>
            </div>
            <div class="pt-5">
                <ul class="text-red-500" id="instructor-error">
                </ul>
            </div>
            <div class="relative py-5 w-9/12 mx-auto overflow-x-auto shadow-md sm:rounded-lg">
                <table class="text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Instrutores
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Email
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Editar</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="instructor-list">
                    {% include 'hx/course/instructor_list.html' %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/custom-error.js' %}"></script>
{% endblock %}