{% load bootstrap5 %}

<div>
    <div id="answers">
        <div>
            <p>{{ answers|length }} Respostas</p>
        </div>
        {% for answer in answers %}
            <div id="aswner-view-{{ answer.id }}">
                {% include 'hx/question/answer/view.html' %}
            </div>
        {% endfor %}
        <div id="answer-question">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button id="send" class="btn btn-dark">Responder</button>
            {% endbuttons %}
        </div>
    </div>
</div>

{% block javascript %}
    <script>
        document.getElementById('send').addEventListener('click', () => {
            let question_id = "{{ question.id }}"
            let form = document.querySelector('#answer-question')
            let inputs = form.querySelectorAll('input, textarea')
            let values = {}
            inputs.forEach(input => {
                values[input.name] = input.value
            })
            htmx.ajax('POST', `/course/answer/create/${question_id}/`, {
                target: '#answers',
                values: values
            })
        })
    </script>
{% endblock %}