{% load bootstrap5 %}

<div>
    <div id="answers">
        <div>
            <p>{{ answers|length }} Respostas</p>
        </div>
        {% for answer in answers %}
            <div id="aswner-view-{{ answer.id }}">
                {% include 'hx/question/answer/content.html' %}
            </div>
        {% endfor %}
        <div id="answer-question">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button id="answer-button"
                        class="btn btn-dark"
                        hx-post="{% url 'answer:create' question.id %}"
                        hx-target="#answers"
                        hx-parent="#answer-question"
                        hx-error="#question-error">
                    Responder
                </button>
            {% endbuttons %}
        </div>
    </div>
</div>