{% load bootstrap5 %}

<div>
    <div id="answer-update">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button id="save"
                    class="btn btn-dark"
                    hx-post="{% url 'answer:update' answer.id %}"
                    hx-target="#aswner-view-{{ answer.id }}"
                    hx-parent="#answer-update"
                    hx-error="#question-error">
                Salvar
            </button>
        {% endbuttons %}
    </div>
</div>