<div id="answer-{{ answer.id }}" class="d-flex justify-content-between border border-dark my-3">
    <div>
        <p>{{ answer.user.get_full_name }}</p>
        <p>{{ answer.updated }}</p>
        <p>{{ answer.content }}</p>
    </div>
    {% if answer.user == request.user %}
        <div class="dropdown">
            <span data-bs-toggle="dropdown">
                <i class="bi bi-three-dots-vertical"></i>
            </span>
            <ul class="dropdown-menu">
                <li>
                    <span class="dropdown-item"
                          hx-get="{% url 'answer:update' answer.id %}"
                          hx-target="#answer-{{ answer.id }}">
                        Editar
                    </span>
                </li>
                <li>
                    <span class="dropdown-item confirm"
                          hx-get="{% url 'answer:confirm' answer.id %}"
                          hx-target="#modal">
                        Apagar
                    </span>
                </li>
            </ul>
        </div>
    {% endif %}
</div>

{% block javascript %}
    <script>
        {
            const confirms = document.querySelectorAll('.confirm');

            confirms.forEach(open => {
                open.addEventListener('click', () => {
                    setTimeout(() => {
                        const modal = document.getElementById('modal_container');
                        modal.classList.add('show');
                        const close = document.getElementById('close');
                        close.addEventListener('click', () => {
                            const modal = document.getElementById('modal_container');
                            modal.classList.remove('show');
                        });
                    }, 300)
                });
            })
        }
    </script>
{% endblock %}