<div id="answer-{{ answer.id }}" class="d-flex justify-content-between border border-dark my-3">
    <div>
        <p>{{ answer.user.get_full_name }}</p>
        <p>{{ answer.updated }}</p>
        <div class="text-break">
            <p>{{ answer.content }}</p>
        </div>
    </div>
    {% if answer.user == request.user %}
        <div class="dropdown">
            <span data-bs-toggle="dropdown">
                <i class="bi bi-three-dots-vertical"></i>
            </span>
            <ul class="dropdown-menu">
                <li>
                    <span class="dropdown-item"
                          hx-get="{% url 'answer:update' answer.id %}"
                          hx-target="#answer-{{ answer.id }}">
                        Editar
                    </span>
                </li>
                <li>
                    <span class="dropdown-item"
                          hx-get="{% url 'answer:confirm' answer.id %}"
                          hx-target="#modal">
                        Apagar
                    </span>
                </li>
            </ul>
        </div>
    {% endif %}
</div>