{% load bootstrap5 %}

<div class="container">
    <div>
        <button class="btn btn-dark"
                hx-get="{% url 'question:course' course.id %}"
                hx-target="#question-nav">
            Voltar para todas as perguntas
        </button>
        <div id="question-ask">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button class="btn btn-dark"
                        hx-post="{% url 'question:create' lesson_id %}"
                        hx-target="#question-nav"
                        hx-parent="#question-ask">
                    Publicar
                </button>
            {% endbuttons %}
        </div>
    </div>
</div>