{% load bootstrap5 %}

<div>
    <div id="question-update">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button id="save"
                    class="btn btn-dark"
                    hx-post="{% url 'question_crud:update' question.id %}"
                    hx-target="#question-content"
                    hx-parent="#question-update"
                    hx-error="#question-error">
                Salvar
            </button>
        {% endbuttons %}
    </div>
</div>
