<div class="mb-3 grow mx-8">
    <div class="input-group w-full mb-4">
        <form class="flex" hx-get="{% url 'rating:search' course.id %}" hx-target="#rating-list">
            <input id="rating-search"
                   type="search" name="search"
                   class="form-control flex-auto block w-full px-3 py-4 text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:outline-none"
                   placeholder="Pesquisar avaliações" aria-label="Search"
                   aria-describedby="button-addon2">
            <input id="rating-filter" type="hidden" name="filter" value="all">
            <button class="btn bg-zinc-800 px-6 py-3 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:shadow-lg flex items-center"
                    type="submit" id="button-addon2">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search"
                     class="w-4" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512">
                    <path fill="currentColor"
                          d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                </svg>
            </button>
        </form>
    </div>
</div>
<div class="mb-3">
    <div class="flex">
        <div class="mb-3 xl:w-96">
            <select id="select-filter"
                    class="form-select w-full px-3 py-4 text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:outline-none"
                    aria-label="Selecionar filtro">
                <option value="all" selected>Todas as classificações</option>
                <option value="5">Cinco estrelas</option>
                <option value="4">Quatro estrelas</option>
                <option value="3">Três estrelas</option>
                <option value="2">Duas estrelas</option>
                <option value="1">Uma estrelas</option>
            </select>
        </div>
    </div>
</div>