{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ course.title }}
{% endblock %}

{% block nav %}
    {% include 'partials/base/nav_lesson.html' %}
{% endblock %}

{% block css %}
    <style>
        ul {
            list-style-type: disc;
        }

        ol {
            list-style-type: decimal;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            white-space: nowrap;
            background-color: #f9f9f9;
            min-width: fit-content;
            width: calc(100% + 10px);
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="grid grid-cols-4">
        <div class="col-span-3">
            <div id="video">
                {% include 'hx/lesson/video.html' %}
            </div>
            <div id="menu" class="mx-10 items-center font-semibold text-lg pt-2">
                {% include 'partials/lesson/menu.html' %}
                <hr>
            </div>
            <div id="content">

            </div>
        </div>
        <div>
            {% include 'partials/lesson/accordion.html' %}
        </div>
    </div>
    {% include 'hx/modal/modal.html' %}
    {{ course.id|json_script:'course_id' }}
{% endblock %}

{% block javascript %}
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="{% static 'js/lesson-events.js' %}"></script>
    <script src="{% static 'js/custom-form.js' %}"></script>
    <script src="{% static 'js/custom-modal.js' %}"></script>
    <script src="{% static 'js/custom-error.js' %}"></script>
    <script>
        const formatTime = seconds => {
            const pad = num => num < 10 ? `0${num}` : num

            const H = pad(Math.floor(seconds / 3600))
            const i = pad(Math.floor(seconds % 3600 / 60))
            const s = pad(seconds % 60)

            let result = ''
            if (H > 0) result += `${+H}:`
            result += `${H > 0 ? i : +i}:${s}`
            return result.split('.')[0]
        }

        var player

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                events: {
                    'onStateChange': onPlayerStateChange,
                }
            })
        }

        function onPlayerStateChange(event) {
            if (event.data === YT.PlayerState.PLAYING) {
                var timer = setInterval(function () {
                    let result = formatTime(player.getCurrentTime())
                    let element = document.querySelector('#youtube-counter')
                    if (element) {
                        element.innerHTML = result
                        let counter = document.querySelector('#time-counter')
                        if (counter)
                            counter.setAttribute('value', result)
                    }
                }, 200);
            } else {
                clearInterval(timer);
            }
        }
    </script>
    <script src="{% static 'js/lesson-player.js' %}"></script>
    <script>
        let options = document.querySelectorAll('div[data-value]')
        options.forEach(option => {
            option.addEventListener('click', () => {
                option.classList.add('border-b-2', 'border-gray-600')
                options.forEach(other_option => {
                    if (other_option !== option) {
                        other_option.classList.remove('border-b-2', 'border-gray-600')
                    }
                })
            })
        })

        switch ('{{ select }}') {
            case 'search':
                htmx.ajax('GET', '{% url 'student:search' course.id %}', '#content')
                break
            case 'overview':
                htmx.ajax('GET', '{% url 'student:overview' course.id %}', '#content')
                break
            case 'question':
                htmx.ajax('GET', `{% url 'question:course' course.id %}?lesson_id=${document.lesson_id}`, '#content')
                break
            case 'notice':
                htmx.ajax('GET', '{% url 'notice:view' course.id %}', '#content')
                break
            case 'note':
                htmx.ajax('GET', `{% url 'note:view' %}?lesson_id=${document.lesson_id}`, '#content')
                break
            case 'rating':
                htmx.ajax('GET', '{% url 'rating:view' course.id %}', '#content')
                break
            default:
                htmx.ajax('GET', '{% url 'student:overview' course.id %}', '#content')
        }
    </script>
    <script>
        htmx.on('htmx:afterSwap', e => {
            if (e.detail.target.id === 'content') {
                if (document.querySelector('#question-filters')) {
                    document.querySelectorAll('.item-filter').forEach(item => {
                        item.addEventListener('click', e => {
                            document.querySelector(item.getAttribute('parent')).innerText = item.innerText
                        })
                    })
                }
            }
        })
    </script>
{% endblock %}
