{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ course.title }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col" style="padding: 0;">
                <div id="video">
                    {% include 'hx/lesson/video.html' %}
                </div>
                <div id="menu" class="d-flex justify-content-between">
                    <div id="search" hx-get="{% url 'student:search' course.id %}" hx-target="#content">
                        <h5><i class="bi bi-search"></i></h5>
                    </div>
                    <div id="overview" hx-get="{% url 'student:overview' course.id %}" hx-target="#content">
                        <h5>Visão geral</h5>
                    </div>
                    <div id="questions-answers" hx-get="{% url 'question:course' course.id %}" hx-target="#content">
                        <h5>Perguntas e respostas</h5>
                    </div>
                    <div id="notice" hx-get="{% url 'notice:view' course.id %}" hx-target="#content">
                        <h5>Avisos</h5>
                    </div>
                    <div id="note" hx-get="{% url 'note:view' %}" hx-target="#content">
                        <h5>Observações</h5>
                    </div>
                    <div id="rating" hx-get="{% url 'rating:view' course.id %}" hx-target="#content">
                        <h5>Avaliações</h5>
                    </div>
                </div>
                <div id="content">
                    {% include template_section %}
                </div>
            </div>
            <div class="col" style="padding: 0;">
                {% include 'partials/course/accordion.html' %}
            </div>
        </div>
    </div>
    <div id="modal-note">
        {% include 'hx/modal_note.html' %}
    </div>
    <div id="modal-confirm">
        {% include 'hx/modal_confirm.html' %}
    </div>
    {{ course.id|json_script:'course_id' }}
{% endblock %}

{% block javascript %}
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="{% static 'js/lesson-events.js' %}"></script>
    <script src="{% static 'js/custom-form.js' %}"></script>
    <script src="{% static 'js/lesson-modal.js' %}"></script>
    <script src="{% static 'js/custom-error.js' %}"></script>
    <script>
        const formatTime = seconds => {
            const pad = num => num < 10 ? `0${num}` : num

            const H = pad(Math.floor(seconds / 3600))
            const i = pad(Math.floor(seconds % 3600 / 60))
            const s = pad(seconds % 60)

            let result = ''
            if (H > 0) result += `${+H}:`
            result += `${H > 0 ? i : +i}:${s}`
            return result.split('.')[0]
        }

        var player;

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player-youtube', {
                events: {
                    'onStateChange': onPlayerStateChange,
                }
            })
        }

        function onPlayerStateChange(event) {
            if (event.data === YT.PlayerState.PLAYING) {
                var timer = setInterval(function () {
                    let result = formatTime(player.getCurrentTime())
                    let element = document.querySelector('#youtube-counter')
                    if (element) {
                        element.innerText = result
                        document.querySelector('#time-counter').setAttribute('value', result)
                    }
                }, 200);
            } else {
                clearInterval(timer);
            }
        }
    </script>
    <script src="{% static 'js/lesson-player.js' %}"></script>
{% endblock %}
