{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ course.title }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col" style="padding: 0;">
                <div id="video">
                    {% include 'hx/lesson/video.html' %}
                </div>
                <div id="menu" class="d-flex justify-content-between">
                    <div id="search" hx-get="{% url 'student:search' course.id %}" hx-target="#content">
                        <h5><i class="bi bi-search"></i></h5>
                    </div>
                    <div id="overview" hx-get="{% url 'course:overview' course.id %}" hx-target="#content">
                        <h5>Visão geral</h5>
                    </div>
                    <div id="questions-answers" hx-get="{% url 'question:course' course.id %}" hx-target="#content">
                        <h5>Perguntas e respostas</h5>
                    </div>
                    <div id="notice" hx-get="{% url 'notice:view' course.id %}" hx-target="#content">
                        <h5>Avisos</h5>
                    </div>
                    <div id="note" hx-get="{% url 'note:view' %}" hx-target="#content">
                        <h5>Observações</h5>
                    </div>
                    <div id="rating" hx-get="{% url 'rating:view' course.id %}" hx-target="#content">
                        <h5>Avaliações</h5>
                    </div>
                </div>
                <div id="content">
                    {% include 'hx/course/overview.html' %}
                </div>
            </div>
            <div class="col" style="padding: 0;">
                {% include 'partials/course/accordion.html' %}
            </div>
        </div>
    </div>
    <div id="modal-note">
        {% include 'hx/modal_note.html' %}
    </div>
    <div id="modal-confirm">
        {% include 'hx/modal_confirm.html' %}
    </div>
    {{ course.id|json_script:'course_id' }}
{% endblock %}

{% block javascript %}
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="{% static 'js/custom-lesson.js' %}"></script>
    <script src="{% static 'js/custom-form.js' %}"></script>
    <script src="{% static 'js/lesson-modal.js' %}"></script>
    <script src="{% static 'js/custom-error.js' %}"></script>
    <script>
        var player;

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player-youtube', {
                events: {
                    'onStateChange': onPlayerStateChange,
                }
            })
        }

        function onPlayerStateChange(event) {
            if (event.data === YT.PlayerState.PLAYING) {
                var timer = setInterval(function () {
                    let result = new Date(player.getCurrentTime() * 1000).toISOString().slice(11, 19)
                    document.querySelector('#youtube-counter').innerText = result
                    document.querySelector('#time-counter').setAttribute('value', result)
                }, 200);
            } else {
                clearInterval(timer);
            }
        }
    </script>
    <script src="{% static 'js/player.js' %}"></script>
{% endblock %}
