{% extends 'base.html' %}

{% load course_filter %}

{% block title %}
    Todos os cursos
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row row-cols-auto">
            {% for course in courses %}
                <div class="col pb-3">
                    <div class="card mt-3" style="width: 13rem;">
                        {% with current_lesson=request.user|get_current_lesson:course %}
                            <a href="{% url 'student:view' course.id current_lesson %}" class="text-decoration-none">
                                <img class="card-img-top" src="{{ course.image.url }}" alt="Post image">
                                <div class="card-body" style="color: black;">
                                    <h5 class="card-title">{{ course.title }}</h5>
                                    <p class="card-text" style="font-size: 16px;">{{ course.description }}</p>
                                </div>
                            </a>
                        {% endwith %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include 'partials/base/paginator.html' %}
    </div>
{% endblock %}