{% extends 'base.html' %}

{% block title %}
    {{ course.title }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col" style="padding: 0;">
                <div id="video" class="text-center">
                    {% include 'hx/lesson/video.html' %}
                </div>
                <div class="d-flex justify-content-between">
                    <div hx-get="{% url 'student:search' course.id %}" hx-target="#content">
                        <h5><i class="bi bi-search"></i></h5>
                    </div>
                    <div hx-get="{% url 'course:overview' course.id %}" hx-target="#content">
                        <h5>Visão geral</h5>
                    </div>
                    <div hx-get="{% url 'question:course' course.id %}" hx-target="#content">
                        <h5>Perguntas e respostas</h5>
                    </div>
                    <div hx-get="{% url 'notice:view' course.id %}" hx-target="#content">
                        <h5>Avisos</h5>
                    </div>
                    <div hx-get="{% url 'rating:view' course.id %}" hx-target="#content">
                        <h5>Avaliações</h5>
                    </div>
                </div>
                <div id="content">
                    {% include 'hx/course/overview.html' %}
                </div>
            </div>
            <div class="col" style="padding: 0;">
                {% include 'student/course/accordion.html' with modules=course.modules %}
            </div>
        </div>
    </div>
    <div id="modal">
        {% include 'hx/modal.html' %}
    </div>
{% endblock %}

{% block javascript %}
    <script>

        const setLessonID = () => {
            let lesson_element = document.getElementById('lesson_id')
            document.lesson_id = lesson_element.getAttribute('data-value')
        }

        const getFormInputs = form => {
            let inputs = form.querySelectorAll('input, textarea')
            let values = {}
            inputs.forEach(input => {
                values[input.name] = input.value
            })
            return values
        }

        setLessonID()

        htmx.on("htmx:afterRequest", e => {
            if (e.detail.target.id === 'video') {
                setLessonID()
                let course_slug = "{{ course.slug }}"
                window.history.pushState("", "", `/students/course/${course_slug}/lesson/${document.lesson_id}/`);
            }
        });
        htmx.on("htmx:afterSwap", e => {
            if (e.detail.target.id === "modal") {
                const modal = new bootstrap.Modal(document.getElementById("modal-course"))
                modal.show()
            }
        })
        htmx.on("hidden.bs.modal", () => {
            document.getElementById("modal-course").innerHTML = ""
        })

        htmx.on("htmx:configRequest", e => {
            if (e.detail.verb === 'post') {
                if (e.detail.elt.hasAttribute('hx-parent')) {
                    let parent_data = e.detail.elt.getAttribute('hx-parent')
                    let parent = document.querySelector(parent_data)
                    let values = getFormInputs(parent)
                    for (const [name, value] of Object.entries(values)) {
                        e.detail.parameters[name] = value
                    }
                }
            }
            e.detail.parameters['lesson_id'] = document.lesson_id
        })

    </script>
{% endblock %}
