{% extends 'base.html' %}

{% load tailwind_filters %}

{% block title %}
    Entrar
{% endblock %}

{% block nav %}
    {% include 'partials/base/nav_home.html' %}
{% endblock %}

{% block content %}
    <div class="container pt-5">
        <h2 class="text-center text-3xl py-6">Entrar</h2>
        <div class="grid grid-cols-1 mx-auto gap-4 w-1/4">
            <form method="post" id="login">
                {% csrf_token %}
                {{ form|crispy }}
                <button id="submit"
                        type="submit"
                        class="bg-violet-700 px-4 py-2 my-3 w-full rounded-sm text-white">
                    Fazer login
                </button>
                <div class="text-center pt-2">
                    <p>Não tem conta? <a href="{% url 'register' %}" class="text-violet-500">Cadastre-se</a>.</p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}