<span class="ps-5">{{ paginator.num_pages }}</span>

{% for question in context_object %}
    <div class="border border-dark my-4">
        <div class="d-flex justify-content-between">
            <div>
                <h5 id="view-question" hx-get="{% url 'question:view' question.id %}" hx-target="#question">
                    {{ question.title }}
                </h5>
                <p>{{ question.content|slice:":80" }}{% if question.content|length > 80 %}...{% endif %} </p>
                <p>{{ question.user.get_full_name }} - Aula "{{ question.lesson.title }}" - {{ question.updated }}</p>
            </div>
            <div>
                ({{ question.answers.all|length }})
                <i hx-get="{% url 'question:view' question.id %}"
                   hx-target="#question" class="bi bi-chat">
                </i>
            </div>
        </div>
    </div>
{% empty %}
    <h5>{{ empty_message }}</h5>
{% endfor %}
