<div>
    <div>
        <div class="d-flex justify-content-between">
            <div id="question-content">
                {% include 'hx/question/content.html' %}
            </div>
            <div>
                {% if question.user == request.user %}
                    <div class="dropdown">
                        <span data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots-vertical"></i>
                        </span>
                        <ul class="dropdown-menu">
                            <li>
                                <span class="dropdown-item"
                                      hx-get="{% url 'question:update' question.id %}"
                                      hx-target="#question-content">
                                    Editar
                                </span>
                            </li>
                            <li>
                                <span class="dropdown-item confirm"
                                      hx-get="{% url 'question:confirm' question.id %}"
                                      hx-target="#modal">
                                    Apagar
                                </span>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        {% include 'hx/question/answer/answer.html' %}
    </div>
</div>

{% block javascript %}
    <script>
        {
            const confirms = document.querySelectorAll('.confirm');

            confirms.forEach(open => {
                open.addEventListener('click', () => {
                    setTimeout(() => {
                        const modal = document.getElementById('modal_container');
                        modal.classList.add('show');
                        const close = document.getElementById('close');
                        close.addEventListener('click', () => {
                            const modal = document.getElementById('modal_container');
                            modal.classList.remove('show');
                        });
                    }, 300)
                });
            })
        }
    </script>
{% endblock %}