{% extends 'base.html' %}

{% load bootstrap5 %}

{% block title %}
    Adicionando conteúdo
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Adicionar conteúdo</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Salvar</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
