@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Raleway:ital,wght@1,200&display=swap');

* {
    font-family: 'Hubballi', cursive;
    font-size: 22px;
}

.my-modal-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.my-modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

.my-modal {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    text-align: center;
    width: 600px;
    max-width: 100%;
    transform: translateY(-200%);
    transition: transform 0.3s ease;
}

.my-modal-container.show .my-modal {
    transform: translateY(0);
}

.my-modal h1 {
    margin: 0;
}

.my-modal p {
    font-size: 20px;
    text-align: justify;
}

