{% load course_filter %}

<div class="mx-24">
    <div class="py-3">
        <ul class="text-red-500" id="rating-error">
        </ul>
    </div>
    <div id="rating-content">
        {% if request.user|hasnt_rating:course %}
            <div class="flex justify-end">
                <button id="create-rating-button"
                        class="bg-zinc-800 my-5 text-lg p-2 px-6 text-center rounded-sm text-white"
                        hx-get="{% url 'rating:render_create' course.id %}"
                        hx-target="#rating-content">
                    Avaliar
                </button>
            </div>
        {% endif %}

        <div>
            <div>
                {% include 'partials/course/detail/rating/rating_feedback.html' %}
            </div>
            <div class="pt-8">
                <h1 class="text-3xl font-bold pb-10">Avaliações</h1>
                <div class="flex justify-between">
                    {% include 'partials/course/detail/rating/rating_filter.html' %}
                </div>
                <div id="rating-list" class="mx-14">
                </div>
            </div>
        </div>
    </div>
</div>