{% load course_filter %}


<div class="mx-10 grid grid-cols-3 gap-12">
    {% for content in contents %}
        {% with item=content.item %}
            <div class="flex mt-5 flex-col shadow-xl">
                <h5 class="font-semibold p-3">{{ item.title }} ({{ item|model_verbose }})</h5>
                <div class="flex flex-col w-1/2 text-sm text-center mx-auto text-lg pb-4 space-y-2">
                    <a href="{% url 'content:update' lesson.id  item|model_name  item.id %}"
                       class="bg-violet-600 text-white rounded-lg hover:text-violet-500">
                        Atualizar
                    </a>
                    <a href="{% url 'content:delete' content.id %}"
                       class="bg-violet-600 text-white rounded-lg hover:text-violet-500">
                        Deletar
                    </a>
                </div>
            </div>
        {% endwith %}
    {% endfor %}
</div>

{% if not contents %}
    <h5 class="text-lg text-center pt-10">Essa aula ainda não tem conteúdos.</h5>
{% endif %}


