{% load bleach_tags %}

<div class="mx-24">
    <div class="py-3">
        <ul class="text-red-500" id="note-error">
        </ul>
    </div>
    <div id="note-content">
        <div class="flex items-center relative py-4">
            <div class="dropdown">
                <button class="text-lg flex items-center font-bold border border-zinc-600 p-3">
                    <span id="filter-by">Todas as aulas</span>
                    <svg aria-hidden="true"
                         focusable="false"
                         data-prefix="fas"
                         data-icon="caret-down"
                         class="w-2 ml-2"
                         role="img"
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 320 512">
                        <path fill="currentColor"
                              d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z">
                        </path>
                    </svg>
                </button>
                <div class="dropdown-content">
                    <div class="pt-3 flex flex-col space-y-3">
                        <span class="cursor-pointer hover:text-violet-500 item-filter"
                              parent="#filter-by"
                              hx-get="{ url 'question_filter:all_questions' course.id %}"
                              hx-target="#question-section">
                            Todas as aulas
                         </span>
                        <span class="cursor-pointer hover:text-violet-500 item-filter"
                              parent="#filter-by"
                              hx-get="{ url 'question_filter:lesson' lesson_id %}"
                              hx-target="#question-section">
                             Aula atual
                         </span>
                    </div>
                </div>
            </div>
            <button id="create-note"
                    class="bg-zinc-800 my-5 p-3 px-6 text-center absolute right-0 rounded-sm text-white"
                    hx-get="{% url 'note:render_create' %}"
                    hx-target="#note-content">
                Criar observação
            </button>
        </div>
        <h3 class="text-2xl pb-5">Observações da aula "{{ lesson.title }}"</h3>
        {% for note in notes %}
            <div id="note-{{ note.id }}" class="flex max-w-full p-3">
                <div class="timer px-2 mx-auto min-w-max">
                    <div class="font-bold text-white p-2 bg-zinc-800 rounded-lg max-h-12 cursor-pointer">
                        {{ note.time }}
                    </div>
                </div>
                <div class="grow self-center">
                    <div class="pl-3">
                        {% with lesson=note.lesson %}
                            <div class="flex flex-col space-y-2 pb-5">
                                <span class="text-lg font-bold">
                                    {{ lesson.module.order }}. {{ lesson.module.title }}
                                </span>
                                <span class="pl-8 text-gray-600">
                                    {{ lesson.order }}. {{ lesson.title }}
                                </span>
                            </div>
                        {% endwith %}
                        <div class="break-all">
                            {{ note.note|bleach:"em,b,code,li,p,span,i,br,ul,ol,sup,sub,u,hr,strike,font,img,a" }}
                        </div>
                    </div>
                </div>
                <div class="flex space-x-5">
                    <i id="update"
                       hx-get="{% url 'note:render_update' note.id %}"
                       hx-target="#note-{{ note.id }}"
                       class="bi bi-pencil-fill">
                    </i>
                    <i id="delete"
                       hx-get="{% url 'note:confirm' note.id %}"
                       hx-target="#modal-body"
                       class="bi bi-trash-fill">
                    </i>
                </div>
            </div>
        {% empty %}
            <h3 class="text-lg py-3">Ainda não há nenhuma observação para essa aula.</h3>
        {% endfor %}
    </div>
</div>