<div class="modal fade" id="modal-course" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                {{ content }}
                {% if confirm %}
                    {% csrf_token %}
                    <div class="pt-3">
                        <button id="confirm"
                                data-bs-dismiss="modal"
                                class="btn btn-danger"
                                {% if answer %}
                                hx-post="{% url 'answer:delete' answer.id %}"
                                hx-target="#answers"
                                {% elif question %}
                                hx-post="{% url 'question_view:delete' question.id %}"
                                hx-target="#question"
                                {% elif notice %}
                                hx-post="{% url 'notice:delete' notice.id %}"
                                hx-target="#notice"
                                {% endif %}>
                            Confirmar
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

