<div class="modal fade" id="confirmation" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <div class="pt-3">
                    <p>{{ confirm_text }}</p>
                    <button id="confirm"
                            data-bs-dismiss="modal"
                            class="btn btn-danger"
                            hx-post="{{ post_url }}"
                            hx-target="{{ target }}">
                        Confirmar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

