{% extends 'base.html' %}

{% load course_filter %}

{% block title %}
    Módulo {{ module.title }}
{% endblock %}

{% block nav %}
    {% include 'partials/base/nav_home.html' %}
{% endblock %}

{% block content %}
    <div class="grid grid-cols-3 mt-10 mx-20">
        <div class="col-span-2">
            <h1 class="pb-10 text-2xl font-bold w-full">Aulas | Módulo {{ module.title }}</h1>
            <div class="grid grid-cols-3 gap-12">
                {% for lesson in lessons %}
                    <div class="flex flex-col shadow-xl">
                        <h5 class="font-semibold p-3">{{ lesson.title }} #{{ lesson.order }}</h5>
                        <div class="flex flex-col w-1/2 text-sm text-center mx-auto text-lg pb-4 space-y-2">
                            <a href="{% url 'lesson:detail' lesson.id %}"
                               class="bg-violet-600 text-white rounded-lg hover:text-violet-500">
                                Gerenciar
                            </a>
                            <a href="{% url 'lesson:update' lesson.id %}"
                               class="bg-violet-600 text-white rounded-lg hover:text-violet-500">
                                Atualizar
                            </a>
                            <a href="{% url 'lesson:delete' lesson.id %}"
                               class="bg-violet-600 text-white rounded-lg hover:text-violet-500">
                                Deletar
                            </a>
                        </div>
                    </div>
                {% empty %}
                    <h3 class="text-lg font-bold">Este módulo ainda não possui aulas.</h3>
                {% endfor %}
            </div>
        </div>
        <div class="mx-auto text-center">
            <h3 class="text-2xl font-semibold">Ordem das aulas</h3>
            <p class="text-xs py-1">Arraste e solte para organizar as aulas.</p>
            <div class="pt-3">
                <form class="sortable" hx-post="{% url 'lesson:order' module.id %}" hx-trigger="end">
                    {% csrf_token %}
                    {% include 'hx/lesson/sortable.html' %}
                </form>
                <div class="mt-8">
                    <a href="{% url 'lesson:create' module.id %}"
                       class="text-sm bg-violet-700 text-white rounded-lg p-2 hover:text-violet-500">
                        Criar nova Aula
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="absolute left-0 bottom-0 mx-10 space-x-3 py-3">
        <a href="{% url 'module:update' module.id %}"
           class="bg-violet-700 text-white rounded-lg p-2 hover:text-violet-500">
            Editar módulo
        </a>
        <a href="{% url 'module:delete' module.id %}"
           class="bg-violet-700 text-white rounded-lg p-2 hover:text-violet-500">
            Deletar módulo
        </a>
    </div>
{% endblock %}
