{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}
    Excluir Aula
{% endblock %}

{% block content %}
    <div class="container text-center pt-5">
        <form method="post">
            {% csrf_token %}
            <p>Você tem certeza que você quer excluir a aula "{{ object.title }}"?</p>
            {% buttons %}
                <button type="submit" class="btn btn-danger">
                    Confirmar
                </button>
                <a href="{% url 'module:detail' object.module.id %}" class="text-decoration-none text-white btn btn-warning">
                    Cancelar
                </a>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}