{% extends 'base.html' %}

{% load course %}

{% block title %}
    Detalhes da aula - {{ lesson.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-7">
                <div class="mt-4 shadow-lg">
                    <h5 class="text-center">Conteúdos</h5>
                    <div class="d-flex justify-content-between m-2">
                        <a href="#" class="text-dark" hx-get="{% url 'lesson:content' lesson.id 'text' %}"
                           hx-target="#content">
                            Texto
                        </a>
                        <a href="#" class="text-dark" hx-get="{% url 'lesson:content' lesson.id 'file' %}"
                           hx-target="#content">
                            Arquivo
                        </a>
                        <a href="#" class="text-dark" hx-get="{% url 'lesson:content' lesson.id 'image' %}"
                           hx-target="#content">
                            Imagem
                        </a>
                    </div>
                    <div id="content">
                        {% include 'hx/lesson_dynamic_content.html' %}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <h3 class="pt-4">Adicionar conteúdo</h3>
                    <div class="d-flex gap-2 justify-content-center">
                        <a href="{% url 'content:create' lesson.id 'text' %}" class="btn btn-sm btn-primary">
                            Texto
                        </a>
                        <a href="{% url 'content:create' lesson.id 'file' %}" class="btn btn-sm btn-primary">
                            Arquivo
                        </a>
                        <a href="{% url 'content:create' lesson.id 'image' %}" class="btn btn-sm btn-primary">
                            Imagem
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}