{% load bleach_tags %}

<div class="space-y-2 grow">
    <a href="{% url 'profile_view' notice.instructor.id %}" class="text-lg text-violet-500 font-semibold">
        {{ notice.instructor.name }}
    </a>
    <span>{{ notice.updated }}</span>
    <div class="space-y-4">
        <h5 class="text-xl font-bold">{{ notice.title }}</h5>
        <div class="break-all pb-5">
            {{ notice.content|bleach:"em,b,code,li,p,span,i,br,ul,ol,sup,sub,u,hr,strike,font,img,a" }}
        </div>
    </div>
</div>